$accent: #45a9f6;
$main-bg-color: #2d3133;
$light-bg-color: #424648;


.header {
  background: linear-gradient(to bottom, $main-bg-color calc(100% - 10px), $light-bg-color 100%);
  border-bottom: 10px solid $main-bg-color;

  a {
    color: #ffffff;
    text-decoration: none;
  }

  h2 {
    padding-top: 15px;
    font-size: 3rem;
    text-align: center;
  }

  ul {
    margin: 20px 0 0 0;
    text-decoration: none;
    text-align: center;
  }

  li {
    display: inline-block;
    margin: 0;
    padding: 0 5px;
    text-transform: uppercase;
    line-height: 1;

    a {
      display: inline-block;
      padding: 10px 0px;
      border-bottom: 5px solid transparent;
      font-weight: 400;
      font-size: 1rem *13/14;
      transition: all 1s;

      &:hover, &.active {
        border-bottom-color: $accent;
        color: $accent;
      }
    }
  }
}

@media screen and (min-width: 670px) {
  .header {
    h2 {
      float: left;
    }

    ul {
      margin-left: 45px;
      text-align: right;
    }
  }
}

@media screen and (min-width: 400px) {
  .header {
    ul {
      margin-top: 0;
    }
    li a {
      padding: 30px 10px 25px;
    }
  }
}

@media screen and (min-width: 330px) {
  .header li a {
    font-size: 1rem;
  }
}
